{% extends 'layouts/base.html' %} {% load static %} {% block content %}

<section class="card card-body">
  <h1 class="display-1 text-center">Djando App</h1>
  <img src="{% static 'tree.jpg' %}" alt="" width="500" class="my-5 mx-auto" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit a quae
    aperiam cupiditate, dolore natus dolores qui enim perferendis odio, sint et
    labore. Fugit iure officiis in sequi nobis rerum explicabo exercitationem
    praesentium reiciendis dignissimos illo perspiciatis culpa labore voluptas
    odio quibusdam laudantium cupiditate obcaecati quo commodi distinctio,
    maxime nisi itaque! Quod, doloribus dolores repellendus eligendi ab
    molestiae, sunt incidunt esse odio itaque animi reiciendis similique
    aperiam! Sint, laborum tempore fugit harum magni saepe quo, ratione, facere
    provident atque quidem. Sint eaque eligendi unde qui aliquid reiciendis
    consectetur tempora. Aspernatur quibusdam quo omnis. Sapiente nostrum eius
    minima. Quisquam, exercitationem similique.
  </p>
</section>

{% endblock %}
